{% extends 'file_node.html' %}

{% block file_content %}
<div id="editor"></div>
<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(document).ready(function(){
        var path = "/file/raw/{{path|urlencode}}";
        $('#editor').load(path, function(){
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.getSession().setMode("ace/mode/text");
        });
    });   
</script>
{% endblock %}