{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Memorandum</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/trumbowyg.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script> 
    <script src="{% static 'js/materialize.min.js' %}"></script> 
    <script src="{% static 'js/main.js' %}"></script> 
    <script src="{% static 'js/trumbowyg.min.js' %}"></script> 

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>   
    <div class="container">
        <div class="row"></div>
        <div class="row">         
            <div class="col s6 m6">
                <span class="logo"><a href="/">Memorandum</a></span>
            </div>
            <div class="col s6 m6 right-align">             
                <a href="/logout"><i class="material-icons">exit_to_app</i></a>    
            </div>      
        </div>   
        <div class="row">
            {% block content %}Nothing here.{% endblock %}    
        </div>            
    </div>
</body>
</html>