{% extends 'layout.html' %}

{% block content %}
    <div class="row">
        <div class="card">
        {% block node_content %}{% endblock %}        
        </div>   
    </div>
    {% for key,items in links.items %}                  
        {%if items%}
            <div class="row">
            {% if key != 'ungrouped' %}
                <h5>{{ key }}{{ items|length|pluralize }}</h5>
            {% endif %}
            <ul class="collection"> 
            {% for item in items %}
                <li class="collection-item avatar">
                    <i class="material-icons circle">{{ item.relation }}</i>
                    <span class="title"><a href="/{{ item.provider2 }}/{{ item.node2|urlencode }}">{{ item.content.title|striptags }}</a></span>
                    <p>{{ item.content.details|striptags  }}</p>
                    <p>{{ item.relation }}</p>
                    {% if item.id %}
                    <a href="/links/{{ item.id }}/remove" class="secondary-content"><i class="material-icons">remove_circle</i></a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}        
    {% endfor %}

{% endblock %}