{% extends 'node.html' %}

{% block node_content %}    
    <div contenteditable="true" id="content" class="card-content">{{ node.text|safe }}</div> 
    <div class="card-action">
        <a class="waves-effect btn-floating" href="javascript://" id="save-button"><i class="material-icons">save</i></a>
    </div>
    <form method="post" id="text-form">
        {% csrf_token %}
        <input type="hidden" name="text" id="text-field" />
    </form>
    <script type="text/javascript">
        CKEDITOR.inline( 'content' );
        $("#save-button").on("click", function(){
            $("#text-field").val($("#content").html());
            $("#text-form").submit();   
        });     
    </script>
{% endblock %}