{% extends 'node.html' %}

{% block node_content %}    
    <div class="card-content">
        <form method="post" id="text-form">
            <div id="text-field">{{ node.text|safe }}</div>
            {% csrf_token %}
        </form>
    </div>    
    <div class="card-action">
        <a class="waves-effect btn-floating" href="javascript://" id="save-button"><i class="material-icons">save</i></a>
    </div>   
    <script type="text/javascript">
        tinymce.init({ 
            selector:'#text-field',
            inline: true });       
        $("#save-button").on("click", function(){
            $("#text-field").val($("#content").html());
            $("#text-form").submit();   
        });     
    </script>
{% endblock %}