{% extends 'node.html' %}

{% block node_content %}       
    <h3><a href="{{node.url}}" target="_blank">{{ node.url }}</a></h3>   
    <h3><a href="{{node.url}}" target="_blank">{{ node.name }}</a></h3>   
    <div class="row">
        <div class="col m5 s12">                        
            <div class="chip">{{ node.date_added }}</div>
        </div>
        <div class="col m7 s12 right-align">                       
            <a class="waves-effect btn-flat" href="#"><i class="material-icons left">file_download</i> Download</a>
            <a class="waves-effect btn-flat" href="javascript://"><i class="material-icons left">delete</i> Delete</a>
        </div> 
    </div>   
{% endblock %}